/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
footer {
	@include background-style( "../images/footer/footer-bg.jpg", center center, cover, no-repeat, fixed );
	position: relative;
	text-align: center;
	color: $white;
	padding-bottom: 100px !important;

	&:before {
		content: "";
		@include overlay(transparentize($black, 0.3));
	}

	.row > .col {
		@include media-query(550px) {
			width: 95%;
			margin: 0 auto !important;
			float: none;
		}
	}

	/** footer box **/
	.box {
		background: transparentize($theme-primary-color, 0.4);
		padding: 50px 25px;
		border: 5px solid $theme-primary-color;
		margin-bottom: 35px;
		position: relative;
		@include media-query(767px) {
			padding: 40px 20px;
			border: 3px solid $theme-primary-color;
		}

		h2 {
			font-family: $footer-slogan;
			font-size: 35px;
			color: $white;
			margin: 0 0 0.2em;
			padding: 0 25px;
			display: inline-block;
			position: relative;

			@include media-query(767px) {
				font-size: 30px;
				padding: 0;
			}

			&:before,
			&:after {
				content: "";
				width: 30px;
				height: 1px;
				background-color: $white;
				position: absolute;
				top: 50%;
				@include translatingY();
				@include media-query(767px) {
					width: 15px;
				}

				@include media-query(550px) {
					display: none;
				}
			}

			&:before {
				left: -20px;
				@include media-query(767px) {
					left: -10px;
				}
			}

			&:after {
				right: -20px;
				@include media-query(767px) {
					right: -10px;
				}
			}
		}

		p {
			font-family: $footer-couple;
			font-size: 42px;
			color: $white;
			margin: 0;
			@include media-query(767px) {
				font-size: 25px;
			}
		}

		span {
			font-size: 14px;
			text-transform: capitalize;
			letter-spacing: 3px;
			@include media-query(767px) {
				font-size: 13px;
			}
		}

		.love-birds {
			position: absolute;
			left: 50%;
			@include translatingX();
			top: -53px;
		}

		.love-birds i:before {
			font-size: 45px;
		}

		/** frame **/
		.left-top-border,
		.right-top-border,
		.bottom-right-border,
		.bottom-left-border {
			width: 135px;
			height: 77px;
			position: absolute;

			@include media-query(767px) {
				width: 80px;
				height: 45px;			
			}
		}

		.left-top-border {
			background: url(../images/footer/left-top.png);
			background-size: cover;
			left: 3px;
			top: 3px;
		}

		.right-top-border {
			background: url(../images/footer/right-top.png);
			background-size: cover;
			right: 3px;
			top: 3px;
		}

		.bottom-right-border {
			background: url(../images/footer/right-bottom.png);
			background-size: cover;
			right: 3px;
			bottom: 3px;
		}

		.bottom-left-border {
			background: url(../images/footer/left-bottom.png);
			background-size: cover;
			left: 3px;
			bottom: 3px;
		}
	}

	.copyright {
		font-size: 12px;
		color: $white;
		margin: 0;
		text-transform: uppercase;
	}
	
}
