/***********************
= Navigation
***********************/
header {

	.navigation {
		background-color: $white;
		margin-bottom: 0;
		border: 0;
		@include rounded-border(0);

		.navbar-brand {
			font-family: $parisienne;
			font-size: 30px;
			color: $heading-color;
			line-height: 60px;
			padding-top: 0;
			padding-bottom: 0;
		}

		.navbar-brand:hover,
		.navbar-brand:focus {
			color: $heading-color;
		}
	}

	#navbar {
		@include transition-time(0.5s);
		> ul {
			margin: 0;
		}
		
		/** mobiel-menu-logo **/
		.mobile-menu-logo {
			font-size: 22px;
			font-weight: 600;
			color: lighten($black, 30%);
			text-align: center;
			padding: 30px 0;
			display: none;

			i {
				color: $theme-primary-color;
			}

			@include media-query(991px) {
				display: block;
			}

			@include media-query(767px) {
				display: block;
				font-size: 18px;
				padding: 20px 0;
			}
		}

		> ul > li > a {
			font-weight: 500;
			color: $heading-color;
			padding: 20px 15px; 
		}

		> ul > li > a:hover,
		> ul > li > a:focus {
			color: $heading-color;
		}

		& .navbar-nav >.active >a, 
		& .navbar-nav >.active >a:focus, 
		& .navbar-nav a:hover {
			background-color: transparent;
			color:  $theme-primary-color;
		}

		/* show hide drop down menu widther 992px screen */
		@include widther(992px) {
			.dropdown-menu {
				width: 200px;
				display: block;
				padding: 0;
				visibility: hidden;
				opacity: 0;
				top: 120%;
				@include rounded-border(0);
				@include transition-time(0.5s);

				> li {
					border-bottom: 1px solid lighten($black, 80%);
					&:last-child {
						border-bottom: 0;
					}
				}

				> li > a {
					font-weight: bold;
					padding: 8px 15px;
				}
			}

			.dropdown:hover > .dropdown-menu {
				visibility: visible;
				opacity: 1;
				top: 100%;
			}

			.dropdown-toggle .mob-icon {
				display: none;
			}
		}

		.navbar-nav>.open>a, 
		.navbar-nav>.open>a:focus, 
		.navbar-nav>.open>a:hover {
			background: $white;
		}
	}

	/* navigation open and close btn hide for width screen */
	@include widther(992px) {
		.navbar-header .open-btn {
			display: none;
		}

		#navbar .close-navbar {
			display: none;
		}
	}
	

	/* style for navigation less than 992px */
	@include media-query (991px) {
		.container {
			width: 100%;
		}

		.navbar-header button {
			background-color: $theme-primary-color;
			width: 40px;
			height: 35px;
			border: 0;
			padding: 5px 10px;
			@include rounded-border(3px);
			outline: 0;
			position: absolute;
			right: 15px;
			top: 6px;
			z-index: 20;


			 span {
				background-color: $white;
				display: block;
				height: 2px;
				margin-bottom: 5px;

				&:last-child {
					margin: 0;
				}
			 }
		}

		#navbar {
			background: $white;
			display: block !important;
			width: 280px;
			height: 100% !important;
			margin: 0;
			padding: 0;
			border-left: 1px solid lighten($black, 80%);
			border-right: 1px solid lighten($black, 80%);
			position: fixed;
			right: -300px;
			top: 0;
			z-index: 100;

			.navbar-nav {
				height: 100%;
				overflow: auto;
			}

			.close-navbar {
				background-color: $theme-primary-color;
				width: 35px;
				height: 35px;
				color: $white;
				border: 0;
				@include rounded-border(50%);
				outline: none;
				position: absolute;
				left: -18px;
				top: 10px;
				z-index: 20;
			}

			> ul > li {
				border-bottom: 1px solid lighten($black, 80%);
			}

			> ul > li > a {
				padding: 10px 15px 10px 35px !important; 
			}

			.dropdown-menu {
				padding: 0;
				width: 100%;
				box-shadow: none;
				border-radius: 0;
				border: 0;

				> li {
					border-bottom: 1px solid lighten($black, 80%) !important;

					&:first-child {
						border-top: 1px solid lighten($black, 80%);
					}

					&:last-child {
						border-top: 0;
						border-bottom: 0 !important;
					}
				}

				a {
					padding: 7px 15px 7px 45px !important; 
				}
			}
		}

		.dropdown-toggle .mob-icon {
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-left: 1px solid lighten($black, 80%); 
			position: absolute;
			right: 0;
			top: 0;


		}

		/* class for show hide navigation */
		.slideInn {
			right: 0 !important;
		}
	}

	@include media-query(767px) {
		.navbar-header .navbar-brand {
			font-size: 24px;
		}
	}


	/*navbar collaps less then 992px*/
	@include media-query (991px) {
	    .navbar-collapse.collapse {
	        display: none !important;
	    }

	    .navbar-collapse.collapse.in {
	        display: block !important;
	    }

	    .navbar-header .collapse, 
	    .navbar-toggle {
	        display:block !important;
	    }

	    .navbar-header {
	        float:none;
	    }

	    .navbar-right {
	        float: none !important;
	    }

	    .navbar-nav {
	    	float: none;
	    }

	    .navbar-nav > li {
	        float: none;
	    }
	}
}

.logo-bottom-shape-wrapper {
	position: relative;
	.logo-bottom-shape {
		position: absolute;
		left: 80px;
		z-index: 20;

		@include media-query (767px) {
			left: 58px;
		}

		span {
			font-size: 18px;
			font-weight: bold;
			color: $white;
			position: relative;
			top: 12px;
			z-index: 100;

			@include media-query (767px) {
				font-size: 14px;
				top: 8px;
			}
		}

		i {
			color: $white;
			-webkit-animation: pulse 0.8s infinite;
			animation: pulse 0.8s infinite;
		}

		&:before {
			content: "";
			width: 0;
			height: 0;
			border-left: 90px solid transparent;
			border-right: 90px solid transparent;
			border-top: 60px solid transparentize($theme-primary-color, 0.1);
			position: absolute;
			top: 0;
			left: 50%;
			@include translatingX;

			@include media-query (767px) {
				border-left: 60px solid transparent;
				border-right: 60px solid transparent;
				border-top: 50px solid transparentize($theme-primary-color, 0.1);
			}
		}

		&:after {
			content: "";
			width: 185px;
			height: 1px;
			position: absolute;
			top: 0;
			left: 50%;
			@include translatingX;
		}
	}	
}

