/*--------------------------------------------------------------
#0.1    Theme Reset Style
--------------------------------------------------------------*/
body {
    font-family: $base-font;
    background-color: $body-bg-color;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    @include media-query( 767px ) {
        font-size: 14px;
    }
}

p {
    color: $text-color;
    line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}




/*--------------------------------------------------------------
#0.2    Global Elements
--------------------------------------------------------------*/
.fi:before {
    margin: 0;
}

.section-padding {
    padding: 125px 0 120px;

    @include media-query( 767px ) {
        padding: 80px 0;
    }
}

.parallax-flower {
    background-repeat: no-repeat;

    @include media-query (1199px) {
        background-size: 50%, 40%;
    }

    @include media-query (767px) {
        background-size: 70%, 50%;
    }
}

.fancybox-overlay-fixed {
    z-index: 9999;
}

.fancybox-overlay {
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999 !important;
}

.fancybox-wrap {
  z-index: 99999 !important;
}
